@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Registrarse";
}
@model RegisterViewModel
<div class="flex h-full w-full flex-row">
    <form class="p-[50px] px-[12.5%] gap-[40px] flex h-full flex-col items-center" asp-action="Register" asp-controller="Account" method="post">
        <h4 class="text-[36px] inter-bold text-center text-white">Registrarse</h4>
        <div class="gap-[24px] flex w-full flex-row">
            <input asp-for="FirstName" class="text-[16px] px-[10px] py-[14px] border-2 bg-[var(--secondary-body-color)] rounded-[6px] w-full border-white text-gray-400" placeholder="Nombre" type="text" />
            <input asp-for="LastName" class="text-[16px] px-[10px] py-[14px] border-2 bg-[var(--secondary-body-color)] rounded-[6px] w-full border-white text-gray-400" placeholder="Apellido" type="text" />
        </div>
        <div class="gap-[24px] flex w-full flex-row">
            <input asp-for="Email" class="text-[16px] px-[10px] py-[14px] border-2 bg-[var(--secondary-body-color)] rounded-[6px] w-full border-white text-gray-400" placeholder="Correo eléctronico" />
            <input asp-for="BirthDate" class="text-[16px] px-[10px] py-[14px] border-2 bg-[var(--secondary-body-color)] rounded-[6px] w-full border-white text-gray-400" placeholder="Fecha de nacimiento" type="date" />
        </div>
        <div class="gap-[24px] flex w-full flex-row">
            <input asp-for="Password" type="password" class="text-[16px] px-[10px] py-[14px] border-2 bg-[var(--secondary-body-color)] rounded-[6px] w-full border-white text-gray-400" placeholder="Contraseña" />
            <input asp-for="ConfirmPassword" type="password" class="text-[16px] px-[10px] py-[14px] border-2 bg-[var(--secondary-body-color)] rounded-[6px] w-full border-white text-gray-400" placeholder="Confirmar contraseña" />
        </div>
        <button type="submit" class="text-[16px] bg-[var(--primary-color)] px-[45px] py-[9.5px] inter-bold transition-[1s] rounded-md text-white hover:bg-[var(--secondary-color)]">Registrarse</button>
        <span class="inter-medium text-white">¿Ya eres un usuario? <a class="text-[var(--primary-color)]" asp-action="Login" asp-controller="Account">Iniciar sesión</a></span>
        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div asp-validation-summary=All
                 class="bg-[var(--primary-color)] rounded-[6px] p-[10px] text-white">
            </div>
        }
    </form>
    <img class="w-[50%] object-cover object-center" src="https://images.unsplash.com/photo-1434030216411-0b793f4b4173?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
</div>

@section Scripts
        {
    <partial name="_ValidationScriptsPartial"></partial>
}