@{
    ViewData["Title"] = "Página no encontrada";
}

<div class="mx-[60px] flex flex-col items-center 2xl:mx-[300px]">

    <h1 class="inter-bold text-[var(--primary-color)]">404</h1>
    <h1 class="inter-bold text-white">Página no encontrada.</h1>
    <a asp-action="Index" role="button" class="border-2 border-[var(--primary-color)] h-[48px ] bg-[var(--primary-color)] px-[20px] py-[12px] inter-bold rounded-[6px] flex items-center text-white"><i class="fa-solid fa-arrow-left pr-2"> </i>Volver a inicio</a>
</div>

